*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
  color: yellow;
  font-size: 25px;
}
a:visited {
  color: yellow;
}

a:hover {
  background-color: orange;
}

.bkgrdtitle{
  background-color: #FFFFFF;
  display: flex;
  justify-content: flex-start;
}

.pgGo{
  background-color: #FFFFFF;
  border: 3px solid grey;
  display: flex;
  justify-content: space-between;
}

.ribbon{
  width: 300px;
  height: 250px;
text-align: center;
position: absolute;
left: 2px
top: 40px
z-index: -10;
}

.bkgrd1{
  border: 5px solid #FFDC73;
  width: 100%;

}

.quicklinks{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.homepage{
  background-color: lightcoral;
}

.title{
  font-size: 50px;
  color: #4682B4;
  text-align: center;
  font-family: 'Diplomata', cursive;
  padding: 20px;
}

.images{
  max-width: 50%;
  word-wrap: break-word;
}

.links{
  font-size:
}

.resources{
  background-color: lightgreen;
}

.title2{
  color:
  text-align: center;
}

.homepage1{
width: 350px;
height: 400px;

}

.BRC{
  width:300px;
  height: 250px;
  border-radius: 100px;
}

.NPCF{
  border-radius: 100px;
  width: 350px;
  height: 200px;
}

.ACCO{
  width: 300px;
  height: 300px;
}

.CCU{
  border-radius: 25px;
  width: 300px;
  height: 250px;
}

.parents{
  display: flex;
  flex-direction: row;
  padding: 5px;
  max-width: 50%;
  word-wrap: break-word;
}
/* .parents1{
  color: lightcoral;
} */

.kids{
  display: flex;
  flex-direction: row;
  padding: 5px;
  max-width: 50%;
  word-wrap: break-word;

}
/* .kids1{
  color: lightcoral;
} */

.organizations{
  display: flex;
3  flex-direction: row;
  padding: 5px;
  max-width: 50%;
  word-wrap: break-word;
}

.charities{
  display: flex;
  flex-direction: row;
  padding: 5px;
  max-width: 50%;
  word-wrap: break-word;
}

.about{
  background-color: peachpuff;
}

.title3{
  font-size: ;
  color: #B86B77 ;
}
.figure{
  color: lightblue;

}
.jordan{
  align-content: space-around;
  margin: 10px;
  max-width: 50%;
  word-wrap: break-word;
  font:
}

.leti{
  margin: 10px;
  align-content: space-around;
  max-width: 50%;
  word-wrap: break-word;
  font:
}

.thanks{
    margin: 20px;
    align-content: space-around;
    max-width: 50%;
    word-wrap: break-word;
  }
}

.closing{
  font-size: ;
  color: ;
}

.todo{
  text-align: center;
  color: blue;
}

.list{
  background-color: lightskyblue;
  margin: 10px;
}
.socialzz{
  background-color: #BEC0C2;

}
.socials{
  border: 2px inset;
  display:flex;
  justify-content: center;
}
 .p{
   color: black;
 }

 .k{
   color: black;
 }

 .o{
   color: black;
 }

 .c{
   color: black;
 }

/* .insight{
  color: */
}
